---
- name: Production SSL Deployment with Docker Nginx (Webroot)
  hosts: webserver
  become: yes

  vars:
    domain: rohitneelportfolio.duckdns.org
    email: rm8619700@gmail.com
    nginx_container: portfolio-nginx
    cert_path: /etc/letsencrypt/live/rohitneelportfolio.duckdns.org

  tasks:

    - name: Installation of Certbot
      dnf:
        name:
          - certbot
        state: present

    - name: Ensuring Docker is running
      service:
        name: docker
        state: started
        enabled: yes

    - name: Createing required directories
      file:
        path: "{{ item }}"
        state: directory
        mode: '0755'
      loop:
        - /var/www/certbot
        - /etc/letsencrypt

    - name: Copy nginx.conf
      copy:
        src: nginx.conf
        dest: /home/ec2-user/nginx.conf
        mode: '0644'

    - name: Start nginx container on port 80 only (HTTP)
      docker_container:
        name: "{{ nginx_container }}"
        image: nginx:stable-alpine
        state: started
        recreate: yes
        ports:
          - "80:80"
        volumes:
          - /home/ec2-user/nginx.conf:/etc/nginx/conf.d/default.conf:ro
          - /var/www/certbot:/var/www/certbot:ro

    - name: Obtain SSL certificate via webroot
      command: >
        certbot certonly
        --webroot
        -w /var/www/certbot
        --non-interactive
        --agree-tos
        --email {{ email }}
        -d {{ domain }}
      args:
        creates: "{{ cert_path }}/fullchain.pem"

    - name: Restart nginx container with SSL enabled
      docker_container:
        name: "{{ nginx_container }}"
        image: nginx:stable-alpine
        state: started
        recreate: yes
        ports:
          - "80:80"
          - "443:443"
        volumes:
          - /home/ec2-user/nginx.conf:/etc/nginx/conf.d/default.conf:ro
          - /var/www/certbot:/var/www/certbot:ro
          - /etc/letsencrypt:/etc/letsencrypt:ro
