name: Rohit Portfolio CI/CD

on:
  push:
    branches: [ "main" ]

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with: 
          node-version: 20
          cache: 'npm'
          cache-dependency-path: ./frontendRohit/package-lock.json

      - name: Install & Audit
        working-directory: ./frontendRohit 
        run: |
          npm ci 
          npm audit --audit-level=moderate --force # Audit fail na kare isliye force

      - name: Docker Login
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }} 

      - name: Build & Push Docker Image
        uses: docker/build-push-action@v4
        with:
          context: ./frontend/
          push: true
          tags: heyrohhh/portfolio:latest

  deploy:
    needs: build-and-push 
    runs-on: ubuntu-latest
    steps:
      - name: Deploy to EC2 via SSH
        uses: appleboy/ssh-action@master
        with:
          host: ${{secrets.HOST}}
          username: ${{secrets.USERNAME}}
          key: ${{ secrets.EC2_PRIVATE_KEY }}
          script: |
            # Nayi image pull karo aur purana container replace karo
            sudo docker pull heyrohhh/portfolio:latest
            sudo docker stop portfolio-site || true
            sudo docker rm portfolio-site || true
            sudo docker run -d -p 80:80 --name portfolio-site heyrohhh/portfolio:latest